<nav>
  {{#if login}}

  <ul>
    <a href="{{process.env.CURR_URL}}/">Главная</a>
    <a href="{{process.env.CURR_URL}}/klad">Мои клады</a>
    <a href="{{process.env.CURR_URL}}/history">История</a>
    <a href="{{process.env.CURR_URL}}/logout">Выход</a>
    <a id='coin' href="#">Coins: {{coin}}</a>
  </ul>
  
  {{else}}
  <ul>
    <a href="{{process.env.CURR_URL}}/signin">Войти</a>
    <a href="{{process.env.CURR_URL}}/signUp">Регистрация</a>
  </ul>

  {{/if}}
</nav>
