{{#each result }}

<div style="flex-direction: column;margin-bottom:30px" class="container" id={{_id}}>
  <h3>
    Название: {{name}}
  </h3>
  <p>
    Описание: {{description}}
  </p>
  <p>
    Координаты: {{location}}
  </p>
  <img src="{{img}}" alt="klad">
  
</div>
{{/each}}


