<div style="flex-direction: column;"  class="klad container">
<h3>
  Название: {{name}}
</h3>
<p>
  Описание: {{description}}
</p>

<p>
  Координаты: {{location}}
</p>

<img  src="/{{img}}" alt="klad">

<form action="/route/{{_id}}" name="{{location}}">
  <button type="submit">Проложить маршрут</button>
</form>

</div>
{{!-- <div class="container routemap" id="map"></div> --}}

<script  src="../js/routeklad.js" type="text/javascript"></script>
