 {{#if  recievedGift}}
{{#each recievedGift }}
<div style="flex-direction: column;" class="container" id={{_id}}>
  <h3>
    Название: {{name}}
  </h3>
  <p>
    Описание: {{description}}
  </p>
  <p>
    Координаты: {{location}}
  </p>
  <img src="{{img}}" alt="klad">
  <form action="/klad/finish/{{_id}}">
    <button type="submit">Я забрал клад</button>
  </form>
</div>
{{/each}}
{{else}}
<h2 class="container">
 У Вас нет активных кладов. 

Попробуйте их найти на карте!
</h2>
 {{/if}}
<script src="js/klad.js"></script>
