
<h3>Клад создан</h3>

<p>
Название: {{name}}
</p>

<p>
  Описание: {{description}}
</p>

<p>
  Координаты: {{location}}
</p>
{{#if private}}
<p>
Вы создали приватный клад: Он не будет отображаться на карте.
</p>
<p>Вы можете передать Секретный ключ человеку, </p>
<p>который сможет воспользоваться им и найти клад.</p>
<p>Ключ: {{_id}}</p>
{{/if}}
<img  src="{{img}}" alt="klad">

<div style = "height: 150px; weight:200px;"></div>
